@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');
* {
  box-sizing:border-box;
  margin:0;
  padding:0;
  font-size: 1.2rem;
  font-family: 'Roboto',sans-serif;
  }

.admin-area,.login,.contact{
  height:65vh;
  }
