@import url('https://fonts.googleapis.com/css2?family=Inter:ital@1&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 1.0rem;
  font-family: 'Inter', sans-serif;
}

.home-page,
.login,
.contact {
  min-height:68vh;
}


.btn-nextlink {
  background: #e43f6f !important;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  width: 100% !important;
}