.resource-cardtxt{
  font-size: 16px;
}

.load-more-btn {
  background-color: aqua;
  color: white;
}


.load-more-btn :hover {
  cursor: pointer;
}
.res-cardheader{
  font-size: 18px;
}

.text-pink{
  color:pink;
}