.carousel-holder{
  background-color:hsla(318, 49%, 62%, 0.3);
  
}
.carousel{
  margin-top: 50px;
    box-shadow: 10px 10px 10px 10px grey;
}

.carousel-indicators li {
  background-color: black;
  border: 1px solid black;
}

.carousel-control-prev,
.carousel-control-next{
    top: 50%;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: black;
}


