.cardrow{
  height:rem;
  
}
.img-holder{
  width:20rem;
  height:15rem;
}

.card-img-top {
  width: 100%; /* You can set the dimensions to whatever you want */
  object-fit:cover;
  margin: 5px auto;
  padding:20px;
  border-radius: 8px;
}
.card-container {
  margin-bottom: 20px;
}

.title {
  font-family: "Sofadi One", cursive;
  text-align: left;
}
