.cardrow{
  height:40rem;
  
}

.card-img-top {
  height: 17rem;
  width: 100%; 
  object-fit:cover;
  margin: 5px auto;
  padding:20px;
  border-radius: 10px;
}
.card-container {
  margin-bottom: 20px;
}

.title {
  font-family: "Sofadi One", cursive;
  text-align: left;
}
