
.org-text {
  width:80%;
  text-align: left;
  margin: auto;
   margin-top: 1rem;
  font-weight: 500;
  font-size: 18px;
}
.container {
  text-align: center;
  margin-top: 1rem;
}
.btn-charity{
text-align: right;
}

