.small-card{
  border:none;
  border-radius:0;
  height: 25rem;
}
.small-card .card-img-top{
height: 17rem;
width: 100%;
object-fit:cover;

}
.small-card .card-link{
  text-decoration: none;
  color:black;
  opacity: 1;
  font-weight: bolder;
}
.small-card .card-link:hover {
  opacity: 0.5;
}
